<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382580439748-2mr701agpbg5pcaa3u3kmefs66f79aq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382580439748-2mr701agpbg5pcaa3u3kmefs66f79aq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDj5kMNYu3QobHr4Le9BRevAUVWgQN4II8</string>
	<key>GCM_SENDER_ID</key>
	<string>382580439748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DenisAlexandrov.Shop</string>
	<key>PROJECT_ID</key>
	<string>shop-a0717</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-a0717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382580439748:ios:29c0a03ae3a9335e556791</string>
</dict>
</plist>